<ion-view view-title="Pickup">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        Pickup Location
      </div>
      <div class="item">
        <a href="{{call.pickupUrl}}" >{{call.pickUpLocation}}</a>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Type
      </div>
      <div class="item">
        {{call.callType}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Customer
      </div>
      <div class="item">
        {{call.customer.firstName}} {{call.customer.lastName}} | (<a href="tel:{{call.customer.phoneNumber}}">{{call.customer.phoneNumber}}</a>)
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Vehicle
      </div>
      <div class="item">
        {{call.customer.vehicle.color}} | {{call.customer.vehicle.make}} | {{call.customer.vehicle.model}} | {{call.customer.vehicle.licensePlateNumber}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Price Quote
      </div>
      <div class="item">
        {{call.customer.priceQuote}}
      </div>
    </div>
    <!--<ul class="list">-->
      <!--<li class="item">-->
        <!--<label class="item-input">-->
          <!--<div class="inputLabel">-->
            <!--Pickup Location-->
          <!--</div>-->
          <!--<a href="maps://0,0?q={{call.pickUpLocation}}" >{{call.pickUpLocation}}</a>-->
        <!--</label>-->
      <!--</li>-->
      <!--<li class="item">-->
        <!--<label class="item-input">-->
          <!--<div class="inputLabel">-->
            <!--Type-->
          <!--</div>-->
          <!--{{call.callType}}-->
        <!--</label>-->
      <!--</li>-->
      <!--<li class="item">-->
        <!--<label class="item-input">-->
          <!--<div class="inputLabel">-->
            <!--Pickup Location-->
          <!--</div>-->
          <!--<a href="geo:0,0?q={{pickupLocation}}" >{{pickupLocation}}</a>-->
        <!--</label>-->
      <!--</li>-->
    <!--</ul>-->

    <div>{{truckIds}}</div>
  </ion-content>
</ion-view>
